---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Section from '../layouts/Section.astro'
import Overview from '../components/Overview.astro'
import Endpoints from '../components/Endpoints.astro'
import SampleRequest from '../components/SampleRequest.astro'
import SampleResponse from '../components/SampleResponse.astro'
import RateLimit from '../components/RateLimiting.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="barz.lol - The funniest API around.">
	<main>
    <Header />
    <Overview />
    <Endpoints />
    <SampleRequest />
    <SampleResponse />
    <RateLimit />
    <Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 70ch;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
