---
import Section from '../layouts/Section.astro'
---

<Section>
  <div class="barz__endpoints">
    <h3 class="barz__section__header">## Endpoints</h3>
    <p class="barz__section__blurb">The base url for the API is <code class="code base-url">https://api.barz.lol/v1</code> and it currently supports the following list of endpoints:</p>
    <ul class="barz__endpoints__list">
      <li class="endpoint-def">
        <span>Path: <code class="code endpoint">/lyrics</code></span>
        <span>Method: GET</span>
        <span>Type: Array</span>
      </li>
      <li class="endpoint-def">
        <span>Path: <code class="code endpoint">/lyrics/id:int</code></span>
        <span>Method: GET</span>
        <span>Type: Object</span>
      </li>
      <li class="endpoint-def">
        <span>Path: <code class="code endpoint">/lyrics/random</code></span>
        <span>Method: GET</span>
        <span>Type: Object</span>
      </li>
    </ul>
  </div>
</Section>

<style>

  .barz__endpoints__list { 
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: .9rem;
    margin-top: 2rem;
  }

  .endpoint-def { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #131212;
    padding: 2rem;
    border: 2px solid #343434;
    border-radius: 3px;
  }

  .endpoint-def span:not(:last-child) { 
    margin-bottom: 1rem;
  } 

  .endpoint-def:not(:last-child) { 
    margin-bottom: 3rem;
  }

  .base-url { 
    color: rgb(238, 232, 170);
    background: rgba(238, 232, 170, 22%);
  }

  .endpoint { 
    color: rgb(98 218 187);
    background: rgba(98, 218, 187, 22%);
    margin: 1rem 0;
  }

  .code { 
    padding: .2rem .5rem;
    border-radius: 3px;
    border: 1px solid;
  }

  @media only screen and (max-width: 600px) {
    .endpoint-def { 
      font-size: 13px;
      padding: 1.5rem;
    }
  }

</style>
