<footer class="barz__footer">
  <p>No &#127850;. We don't track you.</p>
  <p>A project by <a href="https://twitch.tv/ayofishr">@ayofishr</a> </p>
</footer>

<style>
  .barz__footer { 
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    padding-bottom: 1rem;
  }

  p a { 
    color: lavender;
    font-weight: 600;
  }

  @media only screen and (max-width: 600px) {
    .barz__footer { 
      flex-direction: column-reverse;
      padding-bottom: 0;
      align-items: flex-start;
    }
    p:last-child { 
      margin: 0;
    }
  }
</style>
