<header class="barz__header">
  <h1 class="logo">バーズ・ドット・ロル</h1>
</header>

<style>
  .barz__header { 
    margin-bottom: 2rem;
  }

  .logo { 
    background: blue;
    padding: .5rem 1rem;
    display: inline-block;
  }

  @media only screen and (max-width: 600px) {
    .logo {
      font-size: 1.7rem;
    }
  }
</style>



