---
import Section from '../layouts/Section.astro'
---

<Section>
  <div class="barz__overview">
    <h3 class="barz__section__header">## Overview</h3>
    <p>barz.lol is a free REST API for front-end prototyping. We have compiled the most absurd and hilarious hip-hop lyrics of all time for you to enjoy.</p>
    <p>The API is written in Go and is completely serverless. It uses AWS API Gateway, Lambda and DynamoDB to serve requests.</p>
    <p>If you're interested in seeing the dev/deployment process, 
      I streamed the entire journey on <a class="twitch" href="https://twitch.tv/ayorfish">twitch</a>. 
      The VODs can be found on <a class="youtube" href="https://youtube.com/@ayofishr">youtube</a> as well.

    </p>
  </div>
</Section>

<style>

  .barz__overview p { padding: 0; margin: 0; margin-bottom: 1rem; }

  .twitch { color: #ac84e7; }

  .youtube { color: #fc8a8a; }

</style>
