---
import Section from '../layouts/Section.astro'
import { Code } from 'astro/components'
---

<Section>
  <div class="barz__sample-request">
    <h3 class="barz__section__header">## Rate Limiting </h3>
    <p>
      The API is powered by AWS API Gateway. Which means the rate limit 
      is very generous and capped at 10000 (yes, 10K) requests per second. If you 
      hit the limit, please let me know what you use it for. I'd love to know. 
    </p>
  </div>
</Section>

