---
import Section from '../layouts/Section.astro'
import { Code } from 'astro/components'
---

<Section>
  <div class="barz__sample-response">
    <h3 class="barz__section__header">## Sample Response</h3>
    <p class="barz__section__blurb">
      Given the request in the example above, here's what a typical response from the API looks like: 
    </p>
    <Code lang="json" theme="dracula-soft" code={`
  {
    "status": 200, // int
    "message": "Success !", // string
    "data": {
      "id": "0", // string
      "lyric": "the actual lyric", // string
      "rapper": "the name of the artist" // string
    },
    "error": false // bool 
  }
    `}/>
  </div>
</Section>

<style is:global>

  .barz__sample-response > 


</style>


