---
import Section from '../layouts/Section.astro'
import { Code } from 'astro/components'
---

<Section>
  <div class="barz__sample-request">
    <h3 class="barz__section__header">## Sample Request</h3>
    <p class="barz__section__blurb">
      The following is an example of how to fetch 
      a random lyrics object from the API using javascript's 
      fetch function and async/await.
    </p>
    <Code lang="js" theme="dracula-soft" code={`
  const getRandomLyricsObject = async () => {
    const res = await fetch("https://api.barz.lol/v1/lyrics/random")
    const data = await res.json()
    return data
  }
    `}/>
  </div>
</Section>

<style is:global>

  @media only screen and (max-width: 600px) {
    .astro-code { 
      font-size: 14px;
    }
  }

</style>


