<section class="barz__subsection">
  <article class="barz__subsection__content">
    <slot />
  </article>
</section>

<style is:global>

  .barz__subsection {
    margin-bottom: 4rem;
  }

  .barz__section__blurb {
    color: gray;
  }

  .barz__subsection__content p { 
    line-height: 1.9;
    font-size: .9rem;
  }

  .barz__section__header {
    color: #da62a3; 
    font-size: 1.3rem;
  }

  @media only screen and (max-width: 600px) {
    .barz__subsection {
      margin-bottom: 3rem;
    }

    .barz__subsection__content p { 
      line-height: 1.9;
      font-size: 13px;
    }
  }
</style>


